/* CSS Document */
/* Het hele document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Basis */
body {
    text-align: center;
    line-height: 1;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background: #000;
    color: white;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute!important;
    border: 0!important;
    padding: 0!important;
    margin: 0!important;
    clip: rect(1px,1px,1px,1px);
}

h2 {
    margin: 10px 0px 16px;
    font-weight: 700;
    color: black;
    font-size: 40px;
}

main {
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    overflow: scroll;
    height: 100vh;
}

section {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
    scroll-snap-align: start;
}

li {
    list-style-type: none;
}

/* Navigatie */
section header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 2vh;
}

header ul {
    align-items: center;
    display: flex;
}

.logo {
    display: flex;
    width: 120px;
    padding-left: 32px;
}

.nav-item {
    color: #000;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-right: 1.25em;
    font-size: 14px;
}

.nav-item:hover {
    background: rgba(0, 0, 0, 0.116);
    transition: 0.3s;
}

/* De verschillende secties binnen de code */
.Model3,
.ModelY,
.ModelS,
.ModelX,
.SolarenPowerwall,
.Accessoires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.Model3 {
    background-image: url(../images/Model-3.jpeg);
    background-color: white;
}

.ModelY {
    background-image: url(../images/Model-Y.jpeg);
    background-color: white;
}

.ModelS {
    background-image: url(../images/Model-S.jpeg);
    background-color: white;
}

.ModelX {
    background-image: url(../images/Model-X.jpeg);
    background-color: white;
}

.SolarenPowerwall {
    background-image: url(../images/SolarPanels.jpeg);
    background-color: white;
}

.Accessoires {
    background-image: url(../images/Accessories.jpeg);
    background-color: white;
}

/* De verschillende elementen in de secties */
section div {
    align-items: center;
    justify-content: center;
    margin-bottom: 30em;
}

.sec-boven {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
}

div a {
    border-bottom: solid 1px black;
}

header p {
    color: black;
}

.sec-onder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}

footer button {
    display: inline-block;
    border-radius: 100px;
    min-width: 256px;
    padding: 15px;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    margin: 10px;
    background-color: black;
    color: white;
    opacity: .7;
}

.btn-links {
    background-color: black;
    opacity: .7;
    color: white;
}

.btn-rechts {
    background-color: white;
    opacity: .65;
    color: black;
}

/* Responsive */

/* Navigatie */
@media (max-width: 1200px) {
    .nav-midden {
        display: none;
    }

    .nav-menu-rechts {
        display: none;
    }

    .menu-1200 {
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1.25em;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.116);
    border-color: transparent;
    }
}

@media (min-width: 1200px) {
    .menu-1200 {
        display: none;
    }
}

@media (max-width: 1100px) {
    .button-tablet {
    border-radius: 20px;
    border-width: 4px;
    border-color: white;
    text-transform: uppercase;
    padding: 1em 4em;
    background-color: transparent;
    color: white;
    display: flex;
    margin: 30px auto;
    }

    footer ul {
        margin: 25px auto 0px !important;
    }

    li button {
        display: none;
    }

    .hide-on-tablet {
        display: none;
    }
}

@media (max-width: 600px) {
    .sec-onder {
        display: block;
        margin: 40px auto;
    }

    footer button {
        min-width: 90vw;
    }
}