/* CSS Document */
/* Het hele document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Basis */
body {
    text-align: center;
    line-height: 1;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: dimgray;
    border-bottom: solid 1px black;
}

h2 {
    margin: 10px 0px 16px;
    font-weight: 700;
    color: grey;
    font-size: 40px;
}

main {
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    overflow: scroll;
    height: 100vh;
}

section {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
    scroll-snap-align: start;
}

/* De verschillende secties binnen de code */
.Model3,
.ModelY,
.ModelS,
.ModelX,
.SolarenPowerwall,
.Accessoires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.Model3 {
    background-image: url(../images/Model-3.jpeg);
    background-color: white;
}

.ModelY {
    background-image: url(../images/Model-Y.jpeg);
    background-color: white;
}

.ModelS {
    background-image: url(../images/Model-S.jpeg);
    background-color: white;
}

.ModelX {
    background-image: url(../images/Model-X.jpeg);
    background-color: white;
}

.SolarenPowerwall {
    background-image: url(../images/SolarPanels.jpeg);
    background-color: white;
}

.Accessoires {
    background-image: url(../images/Accessories.jpeg);
    background-color: white;
}

/* De verschillende elementen in de secties */
.sec-boven {
    align-items: center;
    justify-content: center;
    margin-top: 10em;
}

.sec-onder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10em;
}

button {
    display: inline-block;
    border-radius: 100px;
    min-width: 256px;
    padding: 15px;
    font-size: 12px;
    text-transform: uppercase;
}

.btn-links {
    background-color: dimgray;
    opacity: .9;
    color: white;
}

.btn-rechts {
    background-color: white;
    opacity: .65;
    color: dimgray;
}
